# DOCUMENTATION: https://docs.mash3div.com
# SUPPORT: https://support.mash3div.com

# --------------- App ---------------

NEXT_PUBLIC_SITE_URL="http://localhost"
NEXT_PUBLIC_SITE_NAME="Bicrypto"
NEXT_PUBLIC_SITE_DESCRIPTION="Bicrypto is a cryptocurrency exchange platform, where you can trade Bitcoin, Ethereum, Litecoin, and other cryptocurrencies."
NEXT_PUBLIC_DEMO_STATUS="false"
NODE_ENV="production"
APP_BACKEND_PORT="4000"
NEXT_PUBLIC_DEFAULT_LANGUAGE="en"
NEXT_PUBLIC_LANGUAGES="af, sq, am, ar, hy, as, az, bn, bs, bg, yue, ca, hr, cs, da, dv, nl, en, et, fj, fil, fi, fr, gl, ka, de, el, gu, ht, he, hi, hu, is, id, ga, it, ja, kn, kk, km, ko, lv, lt, mk, ms, ml, mt, mr, nb, fa, pl, pt, pa, ro, ru, sk, sl, es, sw, sv, ta, te, th, tr, uk, ur, vi, cy, zu"
NEXT_PUBLIC_DEFAULT_THEME="dark" # dark, light, system
NEXT_PUBLIC_FRONTEND="true" # true, false
NEXT_PUBLIC_FRONTEND_TYPE="default" # default, builder
NEXT_PUBLIC_DEFAULT_LAYOUT="top-navigation" # top-navigation, sidebar-panel, sidebar-panel-float

# --------------- Database ---------------

DB_NAME="v4"
DB_USER="root"
DB_PASSWORD=""
DB_HOST="localhost"
DB_PORT="3306"

# --------------- Config ---------------

NEXT_PUBLIC_GOOGLE_AUTH_STATUS="false"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com"
NEXT_PUBLIC_VERIFY_EMAIL_STATUS="false"

NEXT_PUBLIC_GOOGLE_RECAPTCHA_STATUS="false"
NEXT_PUBLIC_GOOGLE_RECAPTCHA_SITE_KEY="xxxxxxxxxxxxxxxxxxxxxx"
NEXT_PUBLIC_GOOGLE_RECAPTCHA_SECRET_KEY="xxxxxxxxxxxxxxxxxxxxxx"

NEXT_PUBLIC_GOOGLE_ANALYTICS_STATUS="false"
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID="UA-123456789-1"

NEXT_PUBLIC_2FA_STATUS="false"
NEXT_PUBLIC_2FA_SMS_STATUS="false"
NEXT_PUBLIC_2FA_EMAIL_STATUS="false"
NEXT_PUBLIC_2FA_APP_STATUS="false"

NEXT_PUBLIC_FACEBOOK_PIXEL_STATUS="false"
NEXT_PUBLIC_FACEBOOK_PIXEL_ID="123456789"

NEXT_PUBLIC_BINARY_STATUS="true"
NEXT_PUBLIC_BINARY_PRACTICE_STATUS="true"
NEXT_PUBLIC_BINARY_PROFIT=87

NEXT_PUBLIC_KYC_STATUS="false"
NEXT_PUBLIC_NEWS_STATUS="true"

NEXT_PUBLIC_BLOG_STATUS="true"

# --------------- Security ---------------

# TOKEN SECRETS (Please change them every 2 - 4 weeks)
# Can create in node 'crypto.randomBytes(64).toString('hex')'
# Or you can use https://www.browserling.com/tools/random-hex (64 digits)
APP_ACCESS_TOKEN_SECRET="fa85424538b2878a7785a703d168fc58550c8ef3a02c23b8aee5f8adf98159b218296926d37164db8ed48d28a73c01387cf4fd0032e7e76858e71a09b2b82c88"
APP_REFRESH_TOKEN_SECRET="c36f673adcbfe27859867697d6c98430c3757d3eafb7bca3fe90fe349baa9d88ec10932aba5da22f37264c2c2bd31404e5a22822be6f054ec9d40a56b28b97e1"
APP_RESET_TOKEN_SECRET="a67102c7d684ad370409855fe3e7a65f9f9ccffeb82b0d53fe328c66a1405b03737da79a4dd42266a5a83ea9826421b9b031703337be5fd1e1eac0feb1ae2166"
APP_VERIFY_TOKEN_SECRET="823459ed2ed1d80df1aedd3a5c03f1ee6132c20a076270d63d89e06c6b0f4fb7299991610f17dde4930b54432a6cf7b8d13b6da08b9f89bb8b30bb2c46c37f9e"
JWT_EXPIRY="30m"
JWT_REFRESH_EXPIRY="14d"
JWT_RESET_EXPIRY="1h"


# If using a browser like your Nuxt app, use 'browser' for production
# If using a browser like your Nuxt app, use 'browser-dev' for development
# If you're not using a browser, then use 'app'
APP_CLIENT_PLATFORM="browser"

# --------------- License ---------------

# MashDiv API (Don't change)
APP_LICENSE_API_URL="https://api.mashdiv.com"
API_LICENSE_API_KEY="CF30BB9297634F7075F6"

# --------------- Providers ---------------

# Stripe API
APP_STRIPE_PUBLIC_KEY="pk_xxxxxxxxxxxxxxxxxxxxxx"
APP_STRIPE_SECRET_KEY="sk_xxxxxxxxxxxxxxxxxxxxxx"

# PayStack API
APP_PAYSTACK_SECRET_KEY=
APP_PAYSTACK_PUBLIC_KEY=

NEXT_PUBLIC_APP_PAYPAL_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxx"
APP_PAYPAL_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxx"

OANDA_API_KEY=your_oanda_api_key

# --------------- Mail ---------------

# nodemailer-service, nodemailer-smtp, nodemailer-sendgrid, local
APP_EMAILER="nodemailer-smtp"
NEXT_PUBLIC_APP_EMAIL="text@gmail.com"
APP_SUPPORT_EMAIL="text@gmail.com"

# nodemailer-service (For Gmail or Outlook) use app password not your real password
APP_NODEMAILER_SERVICE="gmail"
APP_NODEMAILER_SERVICE_SENDER="xxxxxxxxxxxxxxxxxxxxxx@gmail.com"
APP_NODEMAILER_SERVICE_PASSWORD="xxxxxxxxxxxxxxxxxxxxxx"

# nodemailer-smtp
APP_NODEMAILER_SMTP_HOST="mail.xxxxxxxxxxxxxxxxxxxxxx.com"
APP_NODEMAILER_SMTP_PORT="587"
APP_NODEMAILER_SMTP_SENDER="support@xxxxxxxxxxxxxxxxxxxxxx.com"
APP_NODEMAILER_SMTP_PASSWORD="xxxxxxxxxxxxxxxxxxxxxx"

# SENDGRID API KEY (For Sendgrid Emailer)
APP_SENDGRID_API_KEY="SG.xxxxxxxxxxxxxxxxxxxxxx"
APP_SENDGRID_SENDER="bounces+xxxxxxxxxxxxxxxxxxxxxx.com"

# SENDMAIL PATH (For Local Emailer, use 'which sendmail' to find the path, if not found, install sendmail)
APP_SENDMAIL_PATH="/usr/sbin/sendmail"

# --------------- Auth ---------------

# Twilio API
APP_TWILIO_ACCOUNT_SID="xxxxxxxxxxxxxxxxxxxxxx"
APP_TWILIO_VERIFY_SERVICE_SID="xxxxxxxxxxxxxxxxxxxxxx"
APP_TWILIO_AUTH_TOKEN="xxxxxxxxxxxxxxxxxxxxxx"
APP_TWILIO_PHONE_NUMBER="+9xxxxxxxxxxxxxxxxxxxxxx"
APP_SUPPORT_PHONE_NUMBER="+9xxxxxxxxxxxxxxxxxxxxxx"


# --------------- Exchanges ---------------

# Exchange first 3 letters of the alias (kucoin, binance, kraken, okx)
NEXT_PUBLIC_EXCHANGE="bin"

# KuCoin API (alias: kucoin)
APP_KUCOIN_API_KEY="xxxxxxxxxxxxxxxxxxxxxx"
APP_KUCOIN_API_SECRET="xxxxxxxxxxxxxxxxxxxxxx"
APP_KUCOIN_API_PASSPHRASE="xxxxxxxxxxxxxxxxxxxxxx"

# Binance API (alias: binance)
APP_BINANCE_API_KEY="xxxxxxxxxxxxxxxxxxxxxx"
APP_BINANCE_API_SECRET="xxxxxxxxxxxxxxxxxxxxxx"

# --------------- AI ---------------

# OpenAI
OPENAI_API_KEY="xxxxxxxxxxxxxxxxxxxx"

# --------------- FIAT ---------------

# OpenExchangeRates API
APP_OPENEXCHANGERATES_APP_ID="xxxxxxxxxxxxxxxxxxxxxx"

